= simple_form_for [@course, @chapter] do |f|
  .form-inputs
    = f.input :title, label: '标题'
    = f.input :desc, as: :text, label: '描述'
  
  .form-actions
    = f.button :submit, '提交'

%a{href: (course_path(@chapter.course))} 返回
