= form_for [@course, @chapter] do |f|
  .field
    = f.text_field :title, placeholder: '章节标题'
  .field
    = f.text_area :desc, placeholder: '章节描述'

  = f.submit '提交'

%a{href: (course_path(@chapter.course))} 返回
