%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{href: root_path} 首页
        %li
          %a{href: courses_path} 课程编排
        %li
          %a{href: joins_path} 参加的课程
