.engine-generated
  .desc 欢迎使用 Mindpin 课程编排系统
  .desc 
    课程总数:
    %strong
      %a{href: courses_path}= @courses_count

  .desc
    章节总数:
    %strong= @chapters_count

  .desc
    课件总数:
    %strong= @wares_count
