.well
  %h1
    我的收藏

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 课程名称
      %th 章节数
      %th 课件数
      %th 
  %tbody
    - @favorites.each do |favorite|
      %tr
        %td
          %a{href: (course_path(favorite.course))}= favorite.course.title
        %td= favorite.course.chapters.count
        %td= favorite.course.chapters.map{|chapter| chapter.wares.count}.sum
        %td
          %a{href: (favorite_path(favorite)), data:{method: :delete, confirm: '你确定?'}} 删除
