@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family: '微软雅黑', arial;
  color: #444;
}

.engine-generated {
  padding: 15px;
  background-color: #ffffda;
  .desc {
    font-size: 16px;
    margin-bottom: 10px;
    &.current-user {
      color: #FF4400;
    }
  }
}

main{
  margin-top: 60px;
}
.panel-chapters{
  tbody{
    tr:first-child{
      a.move-up{
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;

        background-color: #fff;
        border-color: #ccc;
      }
    }

    tr:last-child{
      a.move-down{
        cursor: not-allowed;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;

        background-color: #fff;
        border-color: #ccc;
      }
    }
  }
}
