= simple_form_for [@chapter, @ware] do |f|
  .form-inputs
    = f.input :title, label: '标题'
    = f.input :desc, as: :text, label: '描述'
  
  .form-actions
    = f.button :submit, '提交'

%a{href: (chapter_path(@ware.chapter))} 返回

