= simple_form_for [@course, @chapter], wrapper: :horizontal_form do |f|
  .form-inputs
    = f.input :name
    = f.input :desc, as: :text

  .form-actions
    = f.button :submit

%a{href: (course_path(@chapter.course))} 返回
